.form-uno-img {
    background-image: url("https://cdn.discordapp.com/attachments/998310583042572328/1020640537822380072/unknown.png");
    background-size: cover;
    margin-top: 2rem;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;

}


.form-uno {
    display: flex;
    flex-direction: column;

}

.form-uno-title {
    margin-top: 2rem;
    font-size: 20px;
    margin-left: 31rem;

}

/*--------contiene el form--------------------------------*/



.for-pdi {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #fff;
    gap: 2rem;
    background-color: rgba(24, 21, 21, 0.82);
    width: 40rem;
    margin-left: 36rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}



/*-----------------input-------------------------------------*/
.form-uno-input {
    display: flex;
    flex-direction: column;


}

.form-uno-input input {
    width: 25rem;
    height: 2rem;
    margin-left: 7rem;
    font-size: 22px;
}

.form-uno-input label {
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.form-uno-description {
    display: flex;
    flex-direction: column;

}

.form-uno-description textarea {
    width: 63%;
    height: 6rem;
    resize: none;

    margin-left: 7rem;
    font-size: 22px;

}

.form-uno-description label {

    margin-bottom: 1rem;
    margin-left: 7rem;
}



.p-type {
    margin-left: 7rem;
    font-size: 15px;
}

/*------------------------button------------------------------------*/

.button-dos {
    border: solid 2px #fff;
    outline: none;
    padding: 0.5rem;
    width: 12rem;
    background: transparent;
    border-radius: 2rem;
    color: #fff;
    font-size: 20px;
    filter: blur(0.2px);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: 13rem;

}

.button-dos :hover {
    color: rgb(249, 7, 7);
    transform: scale(6.8);
}

/*--------------------------------------------------*/

@media(max-width: 992px) {
    .for-pdi {
        margin-left: 12rem;
    }

    .form-uno-title {
        margin-left: 1rem;
        text-align: center;

    }
}


@media(max-width: 768px) {
    .for-pdi {
        width: 38rem;
        margin-left: 5rem;

    }


    .form-uno-title {
        font-size: 18px;
    }
}

@media(max-width: 576px) {
    .for-pdi {
        margin-top: 2rem;
        font-size: 1.2rem;
        width: 30rem;
        margin-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .form-uno-title {
        margin-top: 1rem;
        font-size: 18px;


    }

    .form-uno-input input {
        width: 20rem;
        height: 1.7rem;
        margin-left: 5rem;
        font-size: 20px;
    }

    .form-uno-input label {
        margin-bottom: 1rem;
        margin-left: 5rem;
    }

    .form-uno-description textarea {
        width: 65.1%;
        margin-left: 5rem;
        font-size: 20px;

    }

    .form-uno-description label {

        margin-left: 5rem;
    }

    .p-type {
        margin-left: 5rem;
        font-size: 13px;
    }

    .button-dos {
        width: 11rem;
        font-size: 18px;
        margin-left: 9rem;

    }


}



@media(max-width: 480px) {
    .for-pdi {
        font-size: 1rem;
        width: 25rem;
        margin-left: 2.5rem;


    }

    .form-uno-title {
        margin-top: 1rem;
        font-size: 15px;


    }

    .form-uno-input input {
        width: 18rem;
        height: 1.5rem;
        margin-left: 3.5rem;
        font-size: 20px;
    }

    .form-uno-input label {
        margin-bottom: 1rem;
        margin-left: 3.5rem;
    }

    .form-uno-description textarea {
        width: 71.1%;
        margin-left: 3.5rem;
        font-size: 20px;

    }

    .form-uno-description label {

        margin-left: 3.5rem;
    }

    .p-type {
        margin-left: 3.5rem;
        font-size: 13px;
    }

    .button-dos {
        width: 10rem;
        font-size: 15px;
        margin-left: 7rem;

    }



}