.pdi-title-dos {
    border-bottom: solid black 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;


}

.pdi-title-dos h1 {
    font-size: 3rem;

}

.pdi-title-dos h3 {
    font-size: 2rem;
    color: rgb(96, 90, 90);
    margin-bottom: 1rem;
}


.container-gallery-pdi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    gap: 2rem;
}



/*---------------------------------*/
@media(max-width: 768px) {
    .pdi-title-dos h1 {
        font-size: 2.5rem;

    }

    .pdi-title-dos h3 {
        font-size: 2rem;

    }

}

@media(max-width: 576px) {
    .pdi-title-dos h1 {
        font-size: 2rem;

    }

    .pdi-title-dos h3 {
        font-size: 1.5rem;

    }

}

@media(max-width: 480px) {
    .pdi-title-dos h1 {
        font-size: 1.7rem;

    }

    .pdi-title-dos h3 {
        font-size: 1.2rem;

    }

}